<html>
	<head>
		<title>My kitten page</title>
		<link href="/stylesheets/application.cdd" rel="stylesheet" type="text/css"
	</head>
	<body>
		<div class="kitten">
			<%= yield %> 
		</div>
	</body>
</html>